# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Jupyter and notebook artifacts
.ipynb_checkpoints/

# Environment and local config files
.env
.env.*



# Test and coverage outputs
.pytest_cache/
.coverage
coverage.xml
htmlcov/
